[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
sqlalchemy = "==2.0.21"
flask-sqlalchemy = "==3.0.5"
flask-migrate = "==4.0.5"
alembic = "==1.12.0"
flask-cors = "==4.0.0"
werkzeug = "==2.3.7"
python-dotenv = "==1.0.0"
sqlalchemy-utils = "==0.41.1"
psycopg2-binary = "==2.9.7"
marshmallow-sqlalchemy = "==0.29.0"
flask-marshmallow = "==0.15.0"
python-dateutil = "==2.8.2"
pytest = "==7.4.2"
pytest-flask = "==1.2.0"
sqlalchemy-debug = "==0.1.0"

[dev-packages]

[requires]
python_version = "3.8"
